@charset "utf-8";
/* CSS Document */
body
{
	background-image:url(book-library-with-open-textbook.jpg);
	background-size:100%;
	background-attachment:scroll;;
	background-repeat: no-repeat;
	margin:0px;
}

.head
{
	font-family:"Trebuchet MS";
	font-size:40px;
	color:rgb(252, 248, 248);
	margin-left:50px;
}
#banner
{
	width:99.5%;
	height:99px;
	border-bottom:2px solid bisque;
	background-color:rgb(21, 21, 20);
	opacity: 0.1;
}
.clg
{
	font-family:"Segoe UI";
	font-size:20px;
	color:rgb(252, 248, 248);
}
.submit{
	border: 2px solid black;
	background-color: transparent;
	border-radius: 5px;
	color: white;
	font-size: 18px;
}
.submit:hover{font-family:"Segoe UI";font-size:20px;color:red;text-decoration:none;text-align: center;}
.submit:active{font-family:"Segoe UI";font-size:16px;color:#FFF;text-decoration:none;}
.submit:visited{font-family:"Segoe UI";font-size:16px;color:#FFF;text-decoration:none;}



.SubHead
{
	font-family:"Segoe UI";
	color:white;
	text-transform: capitalize;
	text-shadow: #F60;
	text-decoration: double;
	font-size:25px;
}
.labels
{
	font-family:"Trebuchet MS";
	font-size:18px;
	color:white;
	font-weight: bolder;
}
.fields
{
	font-family:"Trebuchet MS";
	font-size:16px;
	color:rgb(14, 13, 13);
	padding:4px 6px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid black;
	background-color:transparent;
}

.table
{
	border-radius:5px;
	padding:0px 5px;
	border:0px solid black;
	background-color:transparent;
	position: relative;
	display:flexbox;
	flex-direction:column;
}
a.link:link{font-family:"Segoe UI";font-size:16px;color:#FFF;text-decoration:none;}
a.link:active{font-family:"Segoe UI";font-size:16px;color:#FFF;text-decoration:none;}
a.link:visited{font-family:"Segoe UI";font-size:16px;color:#FFF;text-decoration:none;}
a.link:hover{font-family:"Segoe UI";font-size:18px;color:red;text-decoration:none;}
.msg
{
	font-family:"Segoe UI";
	color:rgb(3, 3, 3);
	font-size:13px;
}

a.Command:link{text-decoration:none;font-family:"Segoe UI";color:#CFC;font-size:16px;padding:5px 7px;border:2px solid #FF0;border-radius:5px;}
a.Command:active{text-decoration:none;font-family:"Segoe UI";color:#CFC;font-size:16px;padding:5px 7px;border:2px solid #FF0;border-radius:5px;}
a.Command:visited{text-decoration:none;font-family:"Segoe UI";color:#CFC;font-size:16px;padding:5px 7px;border:2px solid #FF0;border-radius:5px;}
a.Command:hover{text-decoration:none;font-family:"Segoe UI";color:#CFC;font-size:18px;padding:5px 7px;border:2px solid #F60;border-radius:5px;box-shadow:0px 0px 10px #FFFFFF;}
